*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --app_background: #E9F1FA;
    --cardBackground: white;
    --selectionMenu_background : var(--app_background);
    --game_background : var(--app_background);
    --secondary:black;
    --tertiary: green:

}
html{
    height: 100%;
}
body{
    height: 100%;
}

.hide{
    display: none;
}

#app{
    height: 100%;
    background-color: var(--app_background);
}
#selectionMenu{
    height: 100%;
    background-color: var(--selectionMenu_background);
    text-align: center;
    padding:2% 2%;
}
#selectionMenu h2{
    font-size: 40px;
}
.cardsContainer
{
    padding: 10px 64px;
    position: relative;
    margin: 50px 0;
}
#nextButton{
    position:absolute;
    right: 0;
    top: 50%;
    margin:0 4px;
}
#previousButton{
    position:absolute;
    left: 0;
    top: 50%;
    margin:0 4px;

}

.hidden{
    visibility:hidden;
}

.imgcontainer{
	width:400px;
	height:350px;
	
}
.card{
	margin:8px 8px;
	background-color: var(--cardBackground);
    text-align: center;
    box-shadow: 0px 4px 10px hsl(0, 0%, 40%);
    border-radius: 4px;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0px 6px 14px hsl(0, 0%, 33%);
    transform: scale(1.1);
    cursor: pointer;
}

.card p{
	margin-top:8px
}
.imgStyle{
	width:100%;
	height:100%;
	object-fit:cover;
}

.title{
	font-weight:bold;
	
}

#cards{
    padding:2px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	
}
.arrowButton{
    border: 0;
    background:0;
}
.arrowButton:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition:0.2s;

}
.arrowButton img{
    width: 60px;
    height: 60px;
}

#game{
    min-height:450px;
    width:900px;
    background-color: var(--game_background);
    margin:50px;
    position: relative;
}
#game .header h2{
    color: var(--secondary);
    text-align: center;
}
#score{
    color: var(--secondary);
    background-color: var(--tertiary);
    position: absolute;
    right: 10px;
    top:0;
    padding: 10px;
}
#lettersContainer{
    min-width: 80%;
    padding:4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.letterButton{
    border: none;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    margin: 10px 10px;
}
.letterButton:hover{
    cursor: pointer;
}

#hangedMan{
    min-height: 60vh;
}
.letterBox{
    display: flex;
    width: 40px;
    height: 40px;
    border: 4px solid black;
    background-color: var(--app_background);
    color: black;
    justify-content: center;
    align-items: center;
}
.letterBoxContainer{
    margin-top: 30px;
    display: flex;
    margin: auto;
    width: fit-content;

}