*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* :root{
    --lightsecondary: #F9FAFB;
    --darksecondary: #18404F;
    --lightaccent: #E29B3C;
    --darkaccent: #6B606C;
    --primary: #879BAF;
    --app_background: var(--lightsecondary);
    --cardBackground: var(--app_background);
    --selectionMenu_background : var(--app_background);
    --game_background : var(--primary);

} */

/* :root{
    --lightsecondary: #F5F0EB;
    --darksecondary: #2A282C;
    --lightaccent: #5FC03A;
    --darkaccent: #C53D36;
    --primary: #76A4A2;
    --app_background: var(--lightsecondary);
    --cardBackground: var(--app_background);
    --selectionMenu_background : var(--app_background);
    --game_background : var(--lightsecondary);

} */

:root{
    --neutralDark: #192f34;
    --neutralLight:#fafcfd;
    --dimmedsecondary:hsl(39, 35%, 70%);
    --lightsecondary: #f6c789;
    --lightersecondary:hsl(34, 40%, 90%);
    --darksecondary: #482b05;
    --lightaccent: #7cbeca;
    --darkaccent: #4ba4b4;
    --primary: #053d48;
    --lightprimary: #0d8fa6;
    --app_background: var(--neutralDark);
    --cardBackground: var(--app_background);
    --selectionMenu_background : var(--app_background);
    --game_background : var(--dimmedsecondary   );

}

.hide{
    display: none;
}

#app{
    min-height: 100vh;
    background-color: var(--app_background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightsecondary)

}
#selectionMenu{
    height: 100%;
    background-color: var(--selectionMenu_background);
    text-align: center;
    padding:2% 2%;
    width: 100%;
}
#selectionMenu h2{
    font-size: 40px;
}
#selectionMenu p{
    line-height: 1em;
    min-height: 1em;
    font-size: 20px;
}
.cardsContainer
{
    padding: 10px 64px;
    position: relative;
    margin: 50px 0;
}
#nextButton{
    position:absolute;
    right: 0;
    top: 50%;
    margin:0 4px;
}
#previousButton{
    position:absolute;
    left: 0;
    top: 50%;
    margin:0 4px;

}

.hidden{
    visibility:hidden;
}

.imgcontainer{
	width:400px;
	height:350px;
	
}
.card{
	margin:8px 8px;
	background-color: var(--cardBackground);
    text-align: center;
    box-shadow: 0px 4px 10px hsl(0, 0%, 40%);
    border-radius: 4px;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0px 6px 14px hsl(0, 0%, 33%);
    transform: scale(1.1);
    cursor: pointer;
}

.card p{
	margin-top:8px
}
.imgStyle{
	width:100%;
	height:100%;
	object-fit:cover;
}

.title{
	font-weight:bold;
	
}

#cards{
    padding:2px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	
}
.arrowButton{
    border: 0;
    background:0;
}
.arrowButton:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition:0.2s;

}
.arrowButton img{
    width: 60px;
    height: 60px;
}

#game{
    min-height:450px;
    width:900px;
    background-color: var(--game_background);
    position: relative;
    box-shadow: 0px 4px 10px hsl(0, 0%, 40%);
    border-radius: 20px;

}
#game .header h2{
    color: var(--darksecondary);
    text-align: center;
    font-size: 46px;
    margin-bottom: 10px;
}
#score{
    color: var(--neutralDark);
    position: absolute;
    right: 10px;
    top:10px;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
}
#lettersContainer{
    min-width: 80%;
    padding:4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.letterButton{
    border: none;
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    color: var(--lightsecondary);
    margin: 10px 10px;
    font-size: 20px;
}
.letterButton:hover{
    cursor: pointer;
    background-color: var(--lightprimary);
}

#hangedMan{
    min-height: 60vh;
}
.letterBox{
    display: flex;
    width: 40px;
    height: 40px;
    border: 4px solid var(--darksecondary);
    background-color: var(--neutralLight);
    color: var(--neutralDark);
    justify-content: center;
    align-items: center;
    margin:0 4px;
    font-size: 20px;
    font-weight: 600;

}
.letterBoxContainer{
    margin-top: 30px;
    display: flex;
    margin: auto;
    width: fit-content;

}
.correctPick , .correctPick:hover{
    background-color:hsl(120, 70%, 40%);
    color: var(--neutralDark);
    cursor:default;
}
.wrongPick, .wrongPick:hover{
    background-color: hsl(0, 70%, 45%);
    color: var(--neutralDark);
    cursor:default;
}


dialog {
    margin: 15vh auto;
    padding: 60px;
    border: none;
    border-radius: 10px;
    height: 60vh;
    width: 30vw;
    opacity: 0;
    background-color: var(--lightersecondary);
    animation: fadeInOut 4s ease-in forwards;

}
dialog::backdrop{
    opacity: 0;
    animation: fadeInOut 4s ease-in forwards;
}
dialog img{
    width: 60%;
    height: 60%;
    object-fit: contain;
    margin: auto;
    display: block;
}
dialog p{
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
    text-align: center;
    color:var(--darksecondary)
}

/* dialog[open] {
    animation: fadeInOut 3s ease-out forwards;
} */

@keyframes fadeInOut {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0; 
    }
}
@keyframes fadeOut {
    from { opacity: 1;}
    to {opacity: 0;}
}

#startMenu{
    height: 100vh;
    width: 100%;
    padding:60px;
}
#startMenu h1{
    text-align: center;
    font-size: 50px;
}

#startMenu h2{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}
#startMenu button{
    width:200px;
    height:80px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 4px hsl(0, 0%, 40%);
    margin: 80px auto;
    font-size: 20px;
    display: block;
    background-color: var(--lightaccent);
    color: var(--darksecondary);
}  
#startMenu button:hover{
    cursor: pointer;
    background-color: var(--darkaccent);
}  

#backButton{
    position: absolute;
    top:30px;
    left:60px;
    width: 70px;
    height:70px;
}
#backButton img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.manPart{
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: draw 2s linear forwards;
}
@keyframes draw {
    from{
        stroke-dashoffset: 800;
    }
    to{
        stroke-dashoffset: 0;
    }
}